<span id="facebook_fan_page_like_button">
  <%= like_on_facebook_button "http://www.facebook.com/pages/#{FACEBOOK_RELATED}",
                                            :share => false, :layout => 'button' %>
</span>
