<span id="facebook_fan_page_like_button">
  <%= like_on_facebook_button "http://www.facebook.com/#{FACEBOOK_RELATED}", :include_script => true,
                              :fb_id => FACEBOOK_ID, :share => false, :layout => 'button' %>
</span>
