<div id="disclaimer" class="container">
  This is only a demo. Neither Anysoft nor this application are affiliated with Rose City Oreganics. If you are looking for the Rose City
  Oreganics, you can find them at <%=link_to 'http://www.rosecityoreganics.com/', 'http://www.rosecityoreganics.com/' %>.
</div>