<div id="the_flash" class="container text-center">
  <% if alert %>
      <h4 class="text-danger"><%= alert %></h4>
  <% end %>
  <% if notice %>
      <h4 class="text-primary"><%= notice %></h4>
  <% end %>
</div>