<%= form_for(@order) do |f| %>
  <%= render :partial => 'parts/error_explanation', :locals => {:object => @order} %>

  <%= render :partial => 'order_items/list', :locals => {:order => current_order} %>

  <div class="row text-center">
    <%= image_tag 'express-checkout-hero.png', :style => 'width: 230px;' %>
  </div>
<% end %>
