<% section.items.each do |i| %>
  <div class="col-md-6">
    <div class="item" id="item_<%= i.id %>">
      <h3>
        <%= link_to i.name, item_path(i) %>
        <small>
          <%= i.description %>
        </small>
      </h3>

      <%#= render :partial => 'order_items/form', :locals => {:order_item => OrderItem.new} %>
      <%= render :partial => 'order_items/form', :locals => {:item => i} %>
    </div>
  </div>
<% end %>