/*
 *= require_self
 *= require_tree .
 */


$leaf_color: #7c0915;


$oregon_color: #000000;
$dark_accent: #4a4a4a;
$light_accent: #f0f0f0;

$menu_font: Impact, Charcoal, sans-serif;

$nav-pills-active-link-hover-bg: $leaf_color;

//top_nav
$navbar-default-bg: rgba(255, 255, 255, 0.41);
//$navbar-default-color: black;
$navbar-default-brand-color: $dark_accent;
$navbar-default-link-color: $dark_accent;
$navbar-default-brand-hover-color: $light_accent;
$navbar-default-link-hover-color: $light_accent;
$navbar-default-toggle-border-color: black;
$navbar-default-toggle-icon-bar-bg: black;
$navbar-default-toggle-hover-bg: white;

.navbar-brand{
  font-family: $menu_font;
}

.nav a{
  font-family: $menu_font;
}


a[data-toggle=tab]{
  font-family: $menu_font;
}

.menu_item{
  border-top: 3px solid $dark_accent;
//  border-bottom: 3px solid $oregon_color;

//  border-radius: 20px;
//  -moz-border-radius: 20px;
//  margin: 10px;
//  padding: 10px;
//  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-content{
  margin-top: 15px;
}

body{
  padding-bottom: 50px;
}

//carousel----------------------------------

//end carousel-------------------------------

//forms
$input-border-focus: $leaf_color;
//$input-bg: $leaf_color;
//$input-color: orange;

//buttons
//$btn-primary-bg: $leaf_color;
//$btn-primary-color: $dark_accent;

.btn{
  font-family: $menu_font;
}

.btn-group{
  margin-bottom: 10px;
  margin-right: 30px;
}

//---------------Carousel--------------------------
$carousel-control-font-size: 40px;

//$carousel-
.carousel{
//  border: 5px solid $oregon_color;
//  padding: 40px;
//  background-color: rgba($leaf_color, .25);
  .item{

  }
  .inner_carousel_item{
    text-align: center;
    //  vertical-align: middle;
  }

}



//-------------------------------IMPORT BOOTSTRAP-----------------------------
@import "bootstrap";

