<div id="social_networking_row" class="row">

<div class="container social_networking">
  <span>
    <%= render :partial => 'parts/social_networking/facebook/fan_page_like_button' %>
    <%= render :partial => 'parts/social_networking/twitter/follow_button' %>
  </span>

  </div>

</div>


